{% extends "registration/login.html" %}

{% block content %}
{% if user.is_authenticated %}

    <form method="POST">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
       </table>

           <ul>
        {% for account in accounts %}
        <li>{{ account.IBAN }}</li>
            {% endfor %}
        </ul>

        <button type="submit" name="save">Save</button>
        <button type="submit" name="save_and_add_ba">Add BankAcount</button>
        <button onClick="javascript:history.go(-1);" name="cancel">Cancel</button>
    </form>

    {% if bank_user %}
    <a href="{% url 'delete_user' bank_user.id %}">Delete user</a>
    {% endif %}
{% else %}
    <a class="lead" href="{% url 'login' %}">Log in</a>
{% endif %}
{% endblock content %}
