{% extends "registration/login.html" %}
{% load bootstrap3 %}

{% block content %}
{% if user.is_authenticated %}

    <form method="POST">
        {% csrf_token %}
        <table>
        {% bootstrap_form form %}
            {{ form.non_field_errors }}
       </table>

         {% buttons %}
        {% bootstrap_button "Save" name="save" button_type="submit" button_class="btn-primary" %}
        {% bootstrap_button "Cancel" name="reset" button_type="reset" button_class="btn-primary" href="javascript:history.go(-1);"%}
        {% endbuttons %}

    </form>

    {% if bank_user %}
    <a href="{% url 'delete_user' bank_user.id %}">Delete user</a>
    {% endif %}
{% else %}
    <a class="lead" href="{% url 'login' %}">Log in</a>
{% endif %}
{% endblock content %}
