{% extends "registration/login.html" %}

{% block content %}
{% if user.is_authenticated %}

    <form method="POST">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
            {{ form.non_field_errors }}
       </table>

        <button type="submit" name="save">Save</button>
        <button onClick="javascript:history.go(-1);">Cancel</button>
    </form>

    {% if bank_user %}
    <a href="{% url 'delete_user' bank_user.id %}">Delete user</a>
    {% endif %}
{% else %}
    <a class="lead" href="{% url 'login' %}">Log in</a>
{% endif %}
{% endblock content %}
