{% extends "registration/login.html" %}
{% load bootstrap3 %}
{% block content %}
{% if user.is_authenticated %}

    <p>Delete user {{ user_to_delete }}?</p>

<form method="POST">
    {% csrf_token %}

     {% buttons %}
        {% bootstrap_button "Delete" name="delete" button_type="submit" button_class="btn-danger" %}
        {% bootstrap_button "Cancel" name="reset" button_type="reset" button_class="btn-primary" href="javascript:history.go(-1);"%}
        {% endbuttons %}
    <!--<button type="submit" name="delete">Delete</button>-->
    <!--<button onClick="javascript:history.go(-1);">Cancel</button>-->

</form>
{% else %}
    <a class="lead" href="{% url 'login' %}">Log in</a>
{% endif %}
{% endblock content %}
