{% extends "registration/login.html" %}


{% block content %}
{% if user.is_authenticated %}
<div class="container">
<a href="{% url 'add_user' %}" class="btn btn-primary pull-right">Add user</a>

<ul>
    {% for v in users %}
        <li>{{ v.first_name }} {{ v.last_name }} ({{ v.DNI }})
            <a href="{% url 'update_user' id=v.id %}">Edit</a>

        </li>
        <ul>
        {% for account in v.bankaccount_set.all %}
        <li>{{ account.IBAN }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
</div>


{% else %}
    <a class="lead" href="{% url 'login' %}">Log in</a>
{% endif %}
{% endblock content %}
